
- var bg_img = top_img && top_img !== true ? `background-image: url(${top_img})` : ''


if is_home()
  nav#nav.full_page(style=bg_img)
    #site-info
      #site-title
        //#span.blogtitle= page.title || page.tag || page.category || config.title
        <img alt="Logo" title="Logo" data-src="/img/logo_white_trans.png" class="lazyload" width="20%">
      #site-sub-title
        span.subtitle

      // Logo Test

      // Countdown timer embed here??
      //<div class="powr-countdown-timer" id="c811e424_1577518476"></div><script src="https://www.powr.io/powr.js?platform=html"></script>
      <div class="powr-countdown-timer" id="d5de3a04_1577434960"></div><script src="https://www.powr.io/powr.js?platform=html"></script>
      // Announcement Card
      <center>
      <div class="row">
        <div class="">
        #aside_content.aside_content
          .card-widget.card-announcement
            .card-content
              .item-headline
                i.fa.fa-bullhorn.card-announcement-animation(aria-hidden="true")
                span= _p('aside.card_announcement')
              .announcement_content= theme.announcement.content
        </div>
        <a href="https://forms.gle/ycsVPrpLHVV5fRkv7">
          <div class="span4">
          #aside_content.aside_content
            .card-widget.card-announcement
              .card-content
                .item-headline
                  i.fa.fa-bullhorn.card-announcement-animation(aria-hidden="true")
                    span= _p('aside.card_registration')
                .announcement_content= theme.registration.content
          </div>
        </a>
      </div>
      </center>

      // Social Theme buttons
      if(theme.social)
        #site-social-icons
          each url, icon in theme.social
            a.social-icon(href=url target="_blank")
              i(class=icon aria-hidden="true")

    .scroll-down
      i.fa.fa-angle-down.scroll-down-effects

else
  nav#nav.not_index_bg(style=bg_img)
    #page_site-info
      #site-title
          if (is_archive())
            span.blogtitle= _p('archives')
          else
            span.blogtitle= page.title || page.tag || page.category || config.title
